<!DOCTYPE html>
<html>
  <head>
    <title>PDF File Uploader</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Sanchez"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Orbitron"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/14318a888e.js"
      crossorigin="anonymous"
    ></script>

    <style>
      body {
        padding-top: 80px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <p style="font-family: 'Orbitron'">News Application Dashboard</p>
        <h1 style="font-family: 'Orbitron'">
          <span class="fas fa-file-pdf"></span> Google Drive PDF Uploader
        </h1>

        <a
          href="<%=url%>"
          class="btn btn-danger btn-lg text-center"
          style="
            margin-top: 30px;
            width: 600px;
            height: 60px;
            font-size: xx-large;
            font-family: 'Sanchez';
          "
          >SignIn With <span class="fab fa-google"></span>oogle</a
        >
      </div>
    </div>
  </body>
</html>
